QWidget { background-color: white;}
ClickableLabel { background-color: white;}
QWidget > QPushButton
{
    background-color: #ed1c24;
     border-style: outset;
     border-width: 2px;
     border-color:#b51218;
	color:#f8f8f8;
}

QPushButton:hover
{
    background-color: #de1219;
    border-color:#ed1d24;
}

#Banner {
	background-color:#666;
}
#LogoFrame {
    background-image: url(://logo);
	border: 0px;
	repeat: no-repeat;
}
#Banner > #HeaderLabel{
	background-color:#666;
	color: white;

}
QTextEdit, QPlainTextEdit {
    background-color:white;
    border-width: 2px;
    border-color: #a6a5aa;
    border-style: inset;
    border-radius: 4px;
}
